body
{
	/*background-image: url("https://dvizhok.su/i/files2/auto/2021/03/Toyota_Camry_2021_restyle_2.jpg");*/
	background-size:cover;
	background-repeat:no-repeat;
	background-position:initial;
	background-image: url("./gorod.jpeg");
}
h1{
	 color : red;
	 text-align: center;
	}
h2{
	 color : grey;
	 text-align: center;
}
.text1{
 color : rgb(255, 255, 255); 
 font-size: 20px;
}
.text2{
color : whitesmoke;
font-size: 20px;
}
a
{
color : green;
}
a:visited {color: greenyellow}
.Camry {
  width: 400px;
  text-align: center;
}
.round 
{
    border-radius: 100px; /* Радиус скругления */
    border: 5px solid rgb(48, 48, 48); /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */
}
.Camry2 {
  width: 400px;
  margin: auto;
  display: block;
}
.Camry2rotate {
	transform: rotate(0deg);
}
.superclass {
	display: flex;
	justify-content: space-between;
	padding-right: 200px;
}
.superclass .Camry{ 
margin-right: 20px;
}
.superclass .Camry2{ 
margin-left: 20px;
}